<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tj.chaersi.nfccheck">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ResidentCheckActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ErrorUploadActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SmartCheck_NFCActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name=".activity.SmartCheck_GPSActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CheckPlanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CheckPointDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FixErrActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FixErrDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FixErrFinishActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FixErrBackActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.CommunityLocalActivity" />
        <activity android:name=".activity.ChooseResidentActivity" />
        <activity android:name=".activity.PressureActivity" />
        <activity
            android:name=".activity.Index05_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Index05DetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Index5DetailOverAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Index5DetailBackAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Index01Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Index01RsidentAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Index0101Act"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ForgetPassActivity"></activity>
    </application>

</manifest>